@using MyStore.Application.Services.Orders.Queries.GetUserOrders
@model List<GetUserOrdersDto>

@{
    Layout = "~/Areas/Customer/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">سفارش ها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">لیست سفارشات</p>

                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;">شماره سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> شماره فاکتور</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> وضعیت سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> محصولات در این سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> قیمت</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> تعداد</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                 <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.OrderId</td>
                                                    <td class="sorting_1">@item.RequestPayId</td>
                                                    <td class="sorting_1">@Html.DisplayFor(p => item.OrderState)</td>
                                                    @{ 
                                                         @if (item.OrderDetails.Count > 1)
                                                          {
                                                                <td style="padding:0" class="sorting_1" colspan="3">
                                                                    <table style="margin:0" class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                                        <tbody>
                                                                            @foreach (var detail in item.OrderDetails)
                                                                            {
                                                                                <tr role="row" class="odd">
                                                                                    <td style="width:33.4%" class="sorting_1">@detail.ProductName</td>
                                                                                    <td style="width:33.3%" class="sorting_1">@detail.Price</td>
                                                                                    <td style="width:33.3%" class="sorting_1">@detail.Count</td>
                                                                                </tr>
                                                                            }
                                                                            </tbody>
                                                                    </table>
                                                                </td>
                                                          }
                                                        else
                                                        {
                                                            @foreach (var detail in item.OrderDetails)
                                                             {
                                                                        
                                                                <td class="sorting_1">@detail.ProductName</td>
                                                                <td class="sorting_1">@detail.Price</td>
                                                                <td class="sorting_1">@detail.Count</td>
                                                            
                                                             }    
                                                         }
                                                    }
                                                 </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

